ABCBooksClient_991471961/Connected Services/BookReference_991471961/BookService_9914719612.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52460/BookService_991471961.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" />
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q1:ArrayOfBookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="GetABookResult" nillable="true" type="q2:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByISBN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="GetABookByISBNResult" nillable="true" type="q3:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="GetABookByTitleResult" nillable="true" type="q4:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABookByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="GetABookByAuthorResult" nillable="true" type="q5:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="book" nillable="true" type="q6:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="book" nillable="true" type="q7:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" minOccurs="0" name="book" nillable="true" type="q8:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>