ABCBooksClient_991471961/Connected Services/BookReference_991471961/DBService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52460/BookService_991471961.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52460/BookService_991471961.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52460/BookService_991471961.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABCBooksService_991471961" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_991471961_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetABook" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetABookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByISBN_InputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByISBN" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByISBN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByISBNResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByTitle" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByAuthor" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_GetABookByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetABookByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_991471961_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService_991471961">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/GetAllBooks" message="tns:IBookService_991471961_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/GetAllBooksResponse" message="tns:IBookService_991471961_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetABook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/GetABook" message="tns:IBookService_991471961_GetABook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookResponse" message="tns:IBookService_991471961_GetABook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetABookByISBN">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByISBN" message="tns:IBookService_991471961_GetABookByISBN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByISBNResponse" message="tns:IBookService_991471961_GetABookByISBN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetABookByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByTitle" message="tns:IBookService_991471961_GetABookByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByTitleResponse" message="tns:IBookService_991471961_GetABookByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetABookByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByAuthor" message="tns:IBookService_991471961_GetABookByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/GetABookByAuthorResponse" message="tns:IBookService_991471961_GetABookByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/EditBook" message="tns:IBookService_991471961_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/EditBookResponse" message="tns:IBookService_991471961_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/AddBook" message="tns:IBookService_991471961_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/AddBookResponse" message="tns:IBookService_991471961_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService_991471961/DeleteBook" message="tns:IBookService_991471961_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService_991471961/DeleteBookResponse" message="tns:IBookService_991471961_DeleteBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService_991471961" type="tns:IBookService_991471961">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetABook">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/GetABook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetABookByISBN">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/GetABookByISBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetABookByTitle">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/GetABookByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetABookByAuthor">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/GetABookByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/EditBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IBookService_991471961/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="BasicHttpBinding_IBookService_991471961" binding="tns:BasicHttpBinding_IBookService_991471961">
      <soap:address location="http://localhost:52460/BookService_991471961.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>